<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.juranoaa.sqlite">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">

        <activity android:name=".AASQLiteActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider android:name=".basic.BoardProvider"
            android:authorities="com.juranoaa.sqlite">
        </provider>
    </application>
</manifest>
